In [1]:
import pandas as pd
import numpy as np
import os
os.chdir(r'D:\Datasets')

In [2]:
df = pd.read_csv('Salaries.csv')

C:\Users\risha\AppData\Local\Temp\ipykernel_6596\2827120379.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Salaries.csv')

In [3]:
# Understanding the data
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [4]:
# Number of rows and columns
df.shape

(148654, 13)

In [5]:
# Finding null values
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [6]:
# Null values in percentage
null_val_percent = df.isnull().sum() / df.shape[0] * 100
null_val_percent

Id                    0.000000
EmployeeName          0.000000
JobTitle              0.000000
BasePay               0.406985
OvertimePay           0.000000
OtherPay              0.000000
Benefits             24.324270
TotalPay              0.000000
TotalPayBenefits      0.000000
Year                  0.000000
Notes               100.000000
Agency                0.000000
Status               74.357232
dtype: float64

In [7]:
# Removing columns with null values more than 20 percent
null_val_columns = null_val_percent[null_val_percent>20].keys()
null_val_columns
df = df.drop(columns=null_val_columns)
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011,San Francisco
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011,San Francisco
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,335279.91,335279.91,2011,San Francisco
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,332343.61,332343.61,2011,San Francisco
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,326373.19,326373.19,2011,San Francisco

In [8]:
# checking null values after dropping columns with null value more than 20percent
df.isnull().sum()

Id                    0
EmployeeName          0
JobTitle              0
BasePay             605
OvertimePay           0
OtherPay              0
TotalPay              0
TotalPayBenefits      0
Year                  0
Agency                0
dtype: int64

In [9]:
# Number of job titles
print('The number of Job titles are',len(df['JobTitle'].value_counts().keys()))

The number of Job titles are 2159

In [10]:
# Top 10 Job titles with most Employees
print(df['JobTitle'].value_counts()[:10].to_string())

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945

In [11]:
# maximum total pay and minimum total pay with job title
print(df['TotalPay'].max())

567595.43

In [12]:
# maximum total pay and minimum total pay with job title
print(df[df['TotalPay']==df['TotalPay'].max()]['JobTitle'].to_string(index=False),'Has the Highest Total pay of amount',df['TotalPay'].max())
print(df[df['TotalPay']==df['TotalPay'].min()]['JobTitle'].to_string(index=False),'Has the Lowest Total pay of amount',df['TotalPay'].min())

GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY Has the Highest Total pay of amount 567595.43
Counselor, Log Cabin Ranch Has the Lowest Total pay of amount -618.13

In [13]:
# Number of employees working in Police department
df[df['JobTitle'].str.contains('police',case=False)]
print('Number of people working in Police Department is',len(df[df['JobTitle'].str.contains('POLICE DEPARTMENT',case=False)]))

Number of people working in Police Department is 712

In [14]:
# Total Number of peopleworking as Captain
df[df['JobTitle'].str.contains('captain',case=False)]
print('Number of people working as Captain is',len(df[df['JobTitle'].str.contains('captain',case=False)]))

Number of people working as Captain is 552

In [15]:
# Display All the Employee Names From Fire Department
df[df['JobTitle'].str.contains('Fire Department',case=False)]
print('Number of people working in Fire Department is',len(df[df['JobTitle'].str.contains('FIRE DEPARTMENT',case=False)]))

Number of people working in Fire Department is 226

In [16]:
# Replace 'Not Provided' in EmployeeName' Column to NaN and remove the null values
df[df['EmployeeName']=='Not provided']
df.replace({'Not provided':np.nan},inplace=True)
df.drop(df[df.isnull().sum(axis=1)==2].index,axis=0,inplace=True)

In [17]:
# Find Job Title of ALBERT PARDINI
df[df['EmployeeName']=='ALBERT PARDINI']['JobTitle'].to_string(index=False)

'CAPTAIN III (POLICE DEPARTMENT)'

In [18]:
# DataType of eachcolumns
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148650 entries, 0 to 148653
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148650 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  object
 4   OvertimePay       148650 non-null  object
 5   OtherPay          148650 non-null  object
 6   TotalPay          148650 non-null  float64
 7   TotalPayBenefits  148650 non-null  float64
 8   Year              148650 non-null  int64
 9   Agency            148650 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 12.5+ MB

In [19]:
# Changing datatype of columns with income from Object to Float
income_col = ['BasePay', 'OvertimePay', 'OtherPay','TotalPay', 'TotalPayBenefits']
for i in income_col:
    df[i]=df[i].apply(lambda x:float(x))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148650 entries, 0 to 148653
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148650 non-null  int64
 1   EmployeeName      148650 non-null  object
 2   JobTitle          148650 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   TotalPay          148650 non-null  float64
 7   TotalPayBenefits  148650 non-null  float64
 8   Year              148650 non-null  int64
 9   Agency            148650 non-null  object
dtypes: float64(5), int64(2), object(3)
memory usage: 12.5+ MB

In [20]:
# Name of The Person Having The Highest BasePay
df[df['BasePay']==df['BasePay'].max()]['EmployeeName'].to_string(index=False)

'Gregory P Suhr'

In [21]:
df[df['BasePay']==df['BasePay'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,339282.07,425815.28,2013,San Francisco

In [22]:
# Name of The Person Having The Lowest BasePay
df[df['BasePay']==df['BasePay'].min()]['EmployeeName'].to_string(index=False)

'Irwin Sidharta'

In [23]:
df[df['BasePay']==df['BasePay'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year,Agency
72832,72833,Irwin Sidharta,Junior Clerk,-166.01,249.02,0.0,83.01,89.57,2012,San Francisco

In [24]:
# Find Average BasePay of All Employee Per Year 
Years = list(df['Year'].unique())
Years

[2011, 2012, 2013, 2014]

In [25]:
df[df['Year']==2011]['BasePay'].mean()

63595.956516774524

In [26]:
for i in Years:
    print('For Year',i,'The Average BasePay of all employee is',df[df['Year']==i]['BasePay'].mean())

For Year 2011 The Average BasePay of all employee is 63595.956516774524
For Year 2012 The Average BasePay of all employee is 65436.40685742255
For Year 2013 The Average BasePay of all employee is 69630.0302164812
For Year 2014 The Average BasePay of all employee is 66564.42192449933

In [27]:
# Find Average BasePay of All Employee Per JobTitle 
df.groupby('JobTitle').mean()['BasePay']

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2158, dtype: float64

In [28]:
# Find Average BasePay of Employee Having Job Title ACCOUNTANT 
df[df['JobTitle'].str.contains('ACCOUNTANT',case=False)]['BasePay'].mean()

72245.57241071426